<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ name }} - Resume</title>
    />
  </head>
  <body>
    <header>
      <app-topbar></app-topbar>
    </header>
    <app-about-section></app-about-section>
    <app-skills-section></app-skills-section>
    <app-portfolio-section></app-portfolio-section>
    <app-experience-section></app-experience-section>

    <footer>
      <p>&copy; {{ currentYear }} {{ name }}. All rights reserved.</p>
    </footer>
  </body>
</html>
